<!--  chat 按鈕 w -->
<div id="chatbot-toggle" class="chatbot-button">
	Chat
</div>

<!-- Chatbot 聊天窗口 -->
<div id="chatbot-window" class="chatbot-window d-none">
	<div class="chatbot-header">
		<strong>Chart Robot</strong>
		<button id="chatbot-close" class="btn-close btn-close-white"></button>
	</div>
	<div id="chatbot-body" class="chatbot-body overflow-auto">
		<div class="message-bot">
			Welcome to our website! I am your go-to coffee guru. We're committed to providing you with the most attentive service!
		</div>
		<div id="chatbot-options" class="d-grid gap-2 mt-3">
			<!-- 動態生成選項按鈕 -->
		</div>
	</div>
</div>