@model Coffee.Models.Customer

@{
	ViewData["Title"] = "Profile";
}

<style>
	.squre1{
			width: 70%;
			background-color: antiquewhite;
		}
</style>

<h1>Profile</h1>
<hr />
<div class="flexQQ">
	<div>@await Html.PartialAsync("_PartialItem")</div>
	<div class="squre1">
		<div class="row">
			<div class="col-md-4">
				<form asp-action="Edit">
					@Html.HiddenFor(m => m.CustomerId)  <!-- 隱藏識別屬性 -->
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="CustomerId" />
					@*             <div class="form-group">
					<label asp-for="Id" class="control-label"></label>
					<input type="hidden" asp-for="Id" class="form-control" value="@Model.Id" />
					<span asp-validation-for="Id" class="text-danger"></span>
					</div> *@
					<div class="form-group">
						<label asp-for="UserId" class="control-label"></label>
						<input asp-for="UserId" class="form-control" />
						<span asp-validation-for="UserId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Password" class="control-label"></label>
						<input asp-for="Password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Phone" class="control-label"></label>
						<input asp-for="Phone" class="form-control" />
						<span asp-validation-for="Phone" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Gender" class="control-label"></label>
						<input asp-for="Gender" class="form-control" />
						<span asp-validation-for="Gender" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Birthday" class="control-label"></label>
						<input asp-for="Birthday" class="form-control" />
						<span asp-validation-for="Birthday" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ImgSrc" class="control-label"></label>
						<input asp-for="ImgSrc" class="form-control" type="file" />
						<span asp-validation-for="ImgSrc" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Language" class="control-label"></label>
						<input asp-for="Language" class="form-control" />
						<span asp-validation-for="Language" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ReceiverAddress" class="control-label"></label>
						<input asp-for="ReceiverAddress" class="form-control" />
						<span asp-validation-for="ReceiverAddress" class="text-danger"></span>
					</div>
					@* <div class="form-group">
					<label asp-for="CreateUser" class="control-label"></label>
					<input asp-for="CreateUser" class="form-control" />
					<span asp-validation-for="CreateUser" class="text-danger"></span>
					</div>
					<div class="form-group">
					<label asp-for="UpdateUser" class="control-label"></label>
					<input asp-for="UpdateUser" class="form-control" />
					<span asp-validation-for="UpdateUser" class="text-danger"></span>
					</div>
					<div class="form-group">
					<label asp-for="CreateDate" class="control-label"></label>
					<input asp-for="CreateDate" class="form-control" />
					<span asp-validation-for="CreateDate" class="text-danger"></span>
					</div>
					<div class="form-group">
					<label asp-for="UpdateDate" class="control-label"></label>
					<input asp-for="UpdateDate" class="form-control" />
					<span asp-validation-for="UpdateDate" class="text-danger"></span>
					</div> *@
					<div class="form-group">
						<input type="submit" value="Save" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
		<div>
			<a asp-action="Index">Back to List</a>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
