<h1 class="loginTitle">登&nbsp;&nbsp;入</h1>
<div class="formDiv">
		<div class="userIdDiv">
		<input placeholder="使用者帳號" />
			@* <span asp-validation-for="UserId"></span> *@
		</div>
		<div class="passwordDiv">
		<input type="password" placeholder="密碼" />
			@* <span asp-validation-for="Password"></span> *@
		</div>
		<div>
		<a href="" class="forgetPw">忘記密碼?</a>
		</div>
		<br />
		<button type="submit" class="loginBtn">開始購物吧！</button>
</div>

<hr>

<h1>還不是會員？</h1>
<button class="registerBtn"><a href="">註冊會員</a></button>