<h1>註冊會員</h1>

<div class="formDiv">
    <form action="">
        <label for="UserId">帳號：</label>
        <input type="text" id="UserId" name="UserId"><br />
        <label for="password">密碼：</label>
        <input type="text" id="password" name="password" /><br />
        <label for="passwordCheck">再次輸入密碼：</label>
        <input type="text" id="passwordCheck" name="passwordCheck" /><br />
        <label for="userName">姓名：</label>
        <input type="text" id="userName" name="userName"><br />
        <label for="phone">手機號碼：</label>
        <input type="tel" id="phone" name="phone"><br />
        <label for="emailAddr">電子信箱：</label>
        <input type="email" id="emailAddr" name="emailAddr"><br />
        <input type="submit" name="submit" value="送&nbsp;&nbsp;出" />
    </form>
</div>


