@model IEnumerable<Coffee.Models.Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> @ViewBag.aaa </h1>


@* <button id="addToCartButton" >加入購物車</button>
<br /> *@
<button onclick="SendJsonToDB()"> 登入觸發 </button>
<br />
<button onclick="GetCartData()"> 取得 </button>
<br />
<button onclick="PostCartData()"> 傳送 </button>
<br />
<br />
<button onclick="mergesCart()"> 取得Cart </button>
<br />


<form action="/Cart/LOING" method="post">
    @* 這邊原本是 form action="/Cart/LOING" method="post__ZHITAI" *@
    <input type="text" name="login" value="A1111111" />
    <input type="password" name="pass"  value="1111111" />
    <button type="submit"> AAAAA </button>
</form>
<br />



<script>
    function aaa() { 
        let cart = JSON.parse(localStorage.getItem("cart")) || [];
        // 轉成控制器期望的格式
        // let DetailCart = cart.map(item => ({
        //     productID: ,
        //     //productID: item.productID || "",
        //     qty: item.qty,
        //     unitPrice: item.price
        // }));
        console.log(cart);
    }


</script>
